body {
  background-color: #590085;
}

#introCard {
  background-color:gold;
  color: grey;
}
#sortBtn {
  background-color: #00599c;
}

#enrolledStudents {
  width: 50%;
  border: 2px solid #F0CAA3;
  background-color: #3d7d89;
}

#expelledStudents {
  width: 50%;
  border: 2px dotted red;
  background-color: #511015
  ;
}

.container {
  display: flex;
  flex-direction: row;
  gap: 2px 40px;
}
