body {
  background-color: #590085;
}

#introCard {
  background-color: gold;
  color: grey;
}

#studentForm {
  margin: auto;
  width: 50%;
}



#enrolledStudents {
  width: 50%;
  border: 2px solid #f0caa3;
  background-color: #3d7d89;
}

#expelledStudents {
  width: 50%;
  border: 2px dotted red;
  background-color: #511015;
}

.container {
  display: flex;
  flex-direction: row;
  gap: 2px 40px;
}

.filterButtons {
  display: flex;
  justify-content: space-around;
  padding: 20px;
}
